/* CSS Global Color Variables */

:root {
  --nightsky: #191725;
  --twilight: #0b163d;
  --paleblue: #445888;
  --tealgray: #647a8a;
  --black: #0d0d0d;
  --white: #f1e8e8;
}

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--nightsky);
  color: var(--white);
}

.rightSideLine {
  border-right: 1px solid var(--white);
}

/* HEADER STYLES */

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 26px;
}

header h1 {
  text-shadow: 0px 2px 8px var(--tealgray);
  padding: 20px;
}

header nav {
  padding: 10px;
}

header a {
  text-decoration: none;
  color: var(--white);
  padding: 10px;
}

header li a {
  font-size: 20px;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  text-shadow: 0px 2px 8px var(--tealgray);
}

/* HERO STYLES */

.hero {
  display: flex;
  align-items: flex-start;

  /* background-image: url("../../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%; */
}

.hero-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 10px 20px 10px 20px;
}

.hero-container img {
  max-width: 100%;
  border: 2px solid var(--black);
}

.hero-image {
  flex-basis: 50%;
  padding: 4px;
}

.hero-text {
  font-size: 20px;
  padding-left: 20px;
  text-shadow: 0px 2px 3px var(--tealgray);
}

.hero img {
}

.hero h2 {
}

/* ABOUT STYLES */

.about {
  display: flex;
}

.about h2 {
  width: 40vw;
  text-align: center;
}

.aboutMeTitle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 13px;
}

.about-p {
  padding: 15px;
  font-size: 13px;
}

.about-p p {
  padding: 20px;
  font-size: 15px;
}

.spacer {
  height: 30px;
}

/* WORK STLYES */

.work {
  display: flex;
}

.work h2 {
  width: 40vw;
  text-align: center;
}

.workTitle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 13px;
}

.workProjects {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.project {
  padding: 20px;
}

.projectSmall {
  display: flex;
  flex-wrap: wrap;
}

/* CONTACT STYLES */

.contact {
}

/* PROJECT STYLES */

.project {
}

/* FOOTER STYLES */

footer ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  list-style: none;
}

footer ul a {
  text-decoration: none;
  color: var(--white);
}

footer li {
  display: flex;
  align-items: center;
}

footer h5 {
  padding-right: 20px;
}

/* MEDIA QUERY STYLES */

/* 1200 STYLES */

@media screen and (max-width: 1200px) {
}

/* 980 STYLES */

@media screen and (max-width: 980px) {
  .hero-text {
    font-size: 25px;
    padding-right: 41px;
  }
  .hero-image {
    flex-basis: 40%;
  }
}

/* 768 STYLES */

@media screen and (max-width: 768px) {
  .hero-text {
    font-size: 19px;
    padding: 0 20px 0 0px;
  }
}

/* 575 STYLES */

@media screen and (max-width: 575px) {
  .hero-text {
    font-size: 20px;
  }

  .hero-container {
    padding-bottom: 20px;
  }
}

/* 335 STYLES */

@media screen and (max-width: 335px) {
  header h1 {
    font-size: 25px;
  }

  header nav {
    padding: 0 0 0 0;
  }
  .hero-container {
    flex-direction: column;
    padding: 0px 0px 0px 0px;
  }

  .hero-image {
    padding: 24px;
  }

  .hero-text {
    font-size: small;
  }

  header {
    padding-bottom: 0px;
  }
}

/* test comment */
