/* CSS Global Color Variables */

:root {
  --nightsky: #191725;
  --twilight: #0b163d;
  --paleblue: #445888;
  --tealgray: #647a8a;
  --black: #0d0d0d;
  --white: #f1e8e8;
}

/* GLOBAL STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--nightsky);
  color: var(--white);
}

.rightSideLine {
  border-right: 1px solid var(--white);
}

.textGlow {
  text-shadow: 0px 2px 8px var(--tealgray);
  padding: 20px;
}

/* HEADER STYLES */

header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1vw;
}

header h1 {
  text-shadow: 0px 2px 8px var(--tealgray);
  padding: 20px;
}

header nav {
  padding: 10px;
}

header a {
  text-decoration: none;
  color: var(--white);
  padding: 10px;
}

header li a {
  font-size: 20px;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header li {
  list-style-type: none;
  text-align: center;
  padding: 10px;
  text-shadow: 0px 2px 8px var(--tealgray);
}

/* HERO STYLES */

.hero {
  display: flex;
  align-items: flex-start;

  /* background-image: url("../../images/hero-bg.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%; */
}

.hero-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 0 4vw;
}

.hero-container img {
  max-width: 100%;
  border: 2px solid var(--black);
  max-width: 75%;
  border-radius: 2%;
}

.hero-image {
  padding: 4px;
  width: 60vw;
  padding-left: 12vw;
}

.hero-text {
  font-size: 20px;
  padding-left: 7vw;
  text-shadow: 0px 2px 3px var(--tealgray);
  width: 40vw;
  font-size: 17px;
}

.hero img {
}

.hero h2 {
}

/* ABOUT STYLES */

.about {
  display: flex;
}

.about h2 {
  width: 40vw;
  text-align: center;
}

.aboutMeTitle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-top: 13px;
}

.about-p {
  padding: 15px;
  font-size: 13px;
}

.about-p p {
  padding: 20px;
  font-size: 15px;
}

.spacer {
  height: 30px;
}

/* WORK STLYES */

.work {
  display: flex;
}

.workTitle {
  width: 40vw;
}

.work h2 {
  width: 40vw;
  text-align: center;
}

.workProjects {
  display: flex;
  flex-direction: column;
  width: 60vw;
  padding: 0px 40px;
}

.responsive {
  width: 100%;
  border: 5px solid var(--tealgray);
}

.responsiveSmall {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left top;
  border: 5px solid var(--tealgray);
}

.bigProject {
  position: relative;
  padding: 20px 10px;
}

.bigProject:hover {
  opacity: 0.5;
  transition: 0.8s;
}

.smallProjectSize:hover {
  opacity: 0.5;
  transition: 0.8s;
}

.projectTextBoxBig {
  position: absolute;
  padding: 14px;
  background-color: var(--tealgray);
  bottom: 40px;
  left: 10px;
}

.projectTextBox {
  position: absolute;
  padding: 14px;
  background-color: var(--tealgray);
  bottom: 40px;
  left: 10px;
  width: 80%;
  font-size: 10px;
}

.smallProjects {
  display: flex;
  flex-wrap: wrap;
}

.smallProjectSize {
  width: 50%;
  position: relative;
  padding: 10px;
}

/* CONTACT STYLES */

.contact {
  display: flex;
}

/* PROJECT STYLES */

.project {
}

/* FOOTER STYLES */

footer {
}

.footerTitle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

footer ul {
  display: flex;
  flex-direction: row;
  flex: 1;
  align-items: center;
  padding: 20px;
  list-style: none;
}

footer ul li {
  font-size: 20px;
}

footer h2 {
  width: 40vw;
  text-align: center;
}

footer ul a {
  text-decoration: none;
  color: var(--white);
}

footer li {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

footer h5 {
  padding-right: 20px;
}

/* MEDIA QUERY STYLES */

@media (max-width: 887px) {
  .contact {
    flex-direction: column;
  }

  .footerTitle {
    border-right: none;
    align-items: center;
  }

  .projectTextBoxBig {
    width: 70%;
  }

  .projectTextBoxBig h3 {
    font-size: 2vw;
  }

  .projectTextBoxBig h4 {
    font-size: 2vw;
  }

  .projectTextBoxBig h5 {
    font-size: 2vw;
  }

  .smallProjects {
    flex-direction: column;
  }

  .smallProjectSize {
    width: 100%;
    height: 18vw;
  }

  .projectTextBox {
    bottom: 12px;
    width: 70%;
  }

  .projectTextBox h3 {
    font-size: 1.5vw;
  }

  .projectTextBox h4 {
    font-size: 1.5vw;
  }

  .projectTextBox h5 {
    font-size: 1.5vw;
  }

  div.projectTextBox > h3 h4 {
    font-size: 1.2vw;
  }
}

@media (max-width: 554px) {
  header li {
    width: 50%;
  }

  header ul {
    padding: 0 4vw 0 4vw;
  }

  .textGlow {
    font-size: 3vw;
  }

  .hero-text {
    font-size: 2.1vw;
  }

  .about-p p {
    font-size: 1.9vw;
  }

  header li a {
    font-size: 3.6vw;
  }

  header h1 {
    font-size: 5.8vw;
  }

  footer ul {
    flex-direction: column;
  }

  .projectTextBox {
    padding: 5px;
  }

  .projectTextBoxBig {
    bottom: 2vw;
    padding: 7px;
    left: 12px;
  }

  .smallProjectSize {
    padding: 5px 10px;
  }

  .textGlow h5 {
    font-size: 2vw;
  }

  .bigProject {
    padding: 0px 10px;
  }
}
